th, td {
    padding: 15px;
    border: 1px solid black;
}

.w-logo {
    width: 15vw !important;
  }
  @media only screen and (max-width: 840px) {
    .w-logo {
      width: 25vw !important;
    }
  }
  .bg-green {
    background-color: rgb(12, 156, 0) !important;
  }